GSMA_API_ROOT=
GSMA_TOKEN_URL=
GSMA_CLIENT_ID=
GSMA_CLIENT_SECRET=
GSMA_TEST_NUMBER=
GSMA_ACCESS_TOKEN=
GSMA_SIMSWAP_TOKEN=
GSMA_OTP_TOKEN=
GSMA_NV_TOKEN=
GSMA_DISCOVERY_TOKEN=
GSMA_SIMSWAP_SCOPE=sim-swap:check sim-swap:retrieve-date
GSMA_OTP_SCOPE=one-time-password-sms:send-validate
GSMA_NV_SCOPE=number-verification:verify
GSMA_DISCOVERY_SCOPE=number-verification:device-phone-number:read
GSMA_SIMSWAP_MAXAGE=
GSMA_PURPOSE=dpv:FraudPreventionAndDetection
GSMA_OTP_MESSAGE={{code}} is your Restlink code
GSMA_OTP_CODE=
TOKEN_MODE=auto
TOKEN_AUTH=form
TIMEOUT=20
