<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p %c{1} - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <!-- jSS7 internals are chatty at INFO; keep them one notch down. -->
    <Logger name="org.restcomm" level="info"/>
    <Logger name="org.mobicents" level="warn"/>
    <Root level="info">
      <AppenderRef ref="stdout"/>
    </Root>
  </Loggers>
</Configuration>
